@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.main-menu {
  border-radius: 40px;
  background: $BGBlue;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  @include xlMaxBreakPoint {
    border-radius: 20px;
  }

  h1 {
    max-width: 500px;
  }

  &__text {
    font-style: normal;
    font-weight: 375;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: white;

    margin: 16px 0px 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100;
    padding: 50px 60px;
    min-height: 336px;

    @include xlMaxBreakPoint {
      padding: 36px 24px 66px;
    }
  }

  &__img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);
  }

  .my-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
  }

  .my-pagination-bullet-active {
    background-color: white;
  }
}
