@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins.scss';

.mid-cards {
  position: relative;
  padding-top: 56px;

  &__block {
    display: flex;
    gap: 24px;
    margin: 32px 0px 24px;

    @include xlMaxBreakPoint {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  &__btn-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 14px;
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.6px;
      color: #005bff;
      text-decoration: none;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__background {
    position: absolute;
    min-width: 100vw;
    height: 190px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 60px 60px;
    background: $BGBlue;

    @include xlMaxBreakPoint {
      height: 200px;
      border-radius: 0px 0px 20px 20px;
    }
  }
}

.mid-card-item {
  background: $BGGradient;
  border-radius: 40px;
  padding: 32px;
  color: white;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  min-height: 176px;

  h3 {
    position: relative;
    z-index: 2;
  }

  &__link {
    margin-top: 24px;
    transition: color 0.3s ease;

    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.979);
      }
    }
  }

  &__img {
    max-width: 170px;
    max-height: 150px;
    position: absolute;

    bottom: 10%;
    right: 0;
    z-index: 1;

    @include xxlMaxBreakPoint {
      max-width: 80px;
    }
  }
}
