@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins.scss';

.mid-cards {
  position: relative;
  padding-top: 56px;

  &__block {
    display: flex;
    gap: 24px;
    margin: 32px 0px 24px;

    @include xlMaxBreakPoint {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__background {
    position: absolute;
    min-width: 100vw;
    height: 190px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 60px 60px;
    background-color: $BGBlue;

    @include xlMaxBreakPoint {
      height: 230px;
    }
  }
}

.mid-card-item {
  background-color: cornflowerblue;
  border-radius: 40px;
  padding: 32px;
  color: white;
  overflow: hidden;
  position: relative;

  h3 {
    position: relative;
    z-index: 2;
  }

  &__link {
    margin-top: 24px;
    transition: color 0.3s ease;

    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.979);
      }
    }
  }

  &__img {
    max-width: 150px;
    max-height: 100px;
    position: absolute;

    bottom: 0;
    right: 10%;
    z-index: 1;

    @include xxlMaxBreakPoint {
      max-width: 80px;
    }
  }
}
