@import '../../../sassStyles/variables.scss';

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0px;
  }

  .checkbox__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .checkbox__input {
    margin-top: 6px;
    margin-right: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 16px;
    min-height: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;

    &.error {
      border: 1px solid $warningColor;
    }
    &:checked {
      border-color: #2e86de;
      background-color: #2e86de;
    }

    &:checked:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 10px;
      min-height: 7px;
      background-image: url('../../../assets/check-icon.svg');
      background-size: cover;
      background-position: center;
    }
  }

  .checkbox__label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
}

.error-message__checkbox-form {
  color: $warningColor;
  margin-left: 32px;
  margin-top: 4px;
}

.description__checkbox-form {
  font-style: normal;
  font-weight: 375;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;

  margin-top: 8px;
  margin-left: 32px;
  color: #5a6c7d;
}
