@import '../../sassStyles/variables.scss';

.calculator {
  &__wrapper {
    background-color: $BGGray;
    padding: 60px;
    border-radius: 40px;
    margin-top: 56px;
  }
  &__destination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 56px;
    gap: 20px;
    margin-top: 24px;
  }
  &__size-block {
    margin-top: 44px;
  }
  &__toggle {
    margin: 16px 0px 24px;
  }
  &__sizes {
    display: flex;
    gap: 20px;
  }
  &__size {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    height: 130px;
    width: 130px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    transition: border 0.3s ease;

    &.is-active {
      border: 1px solid $BGBlue;
    }

    &.is-error {
      border: 1px solid $warningColor;
    }
  }
  &__size-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__size-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.4px;
  }
  &__size-icon {
    width: 32px;
  }
  &__size-bottom {
  }
  &__size-size {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
  &__size-weight {
    font-weight: 375;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  &__measure {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
  }

  &__total {
    margin-top: 24px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }

  &__time-option {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
  }
  &__time-days {
    font-weight: 375;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #5a6c7d;
  }
  &__time-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  &__total-price {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
    padding-top: 12px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__total-plan-list {
    list-style: none;
    padding-left: 20px;
    max-width: 280px;
  }

  &__total-plan-point {
    font-weight: 375;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    position: relative;
    margin-bottom: 12px;

    &::before {
      content: '';
      background-image: url(../../assets/check-list.svg);
      position: absolute;
      top: 0;
      left: -24px;
      width: 16px;
      height: 16px;
    }
  }
}
