@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins.scss';

.large-cards {
  position: relative;
  padding-top: 56px;

  &__block {
    display: flex;
    margin: 32px 0px 0px;
    gap: 24px;

    @include xlMaxBreakPoint {
      flex-direction: column;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }
}

.large-card-item {
  background-color: rgb(100, 148, 237);
  border-radius: 40px;
  padding: 32px;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 3;

  width: 100%;
  height: 100%;
  min-height: 258px;
  max-height: 400px;

  &--h-full {
    height: 400px;
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset -3px -194px 174px -43px rgba(100, 148, 237, 1);
    -moz-box-shadow: inset -3px -194px 174px -43px rgba(100, 148, 237, 1);
    box-shadow: inset -3px -194px 174px -43px rgba(100, 148, 237, 1);
    border-radius: 20px;
    top: 0;
    left: 0;
  }

  .secondShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset -1px 200px 185px -94px rgba(100, 148, 237, 1);
    -moz-box-shadow: inset -1px 200px 165px -84px rgba(100, 148, 237, 1);
    box-shadow: inset -1px 200px 165px -84px rgba(100, 148, 237, 1);
    border-radius: 20px;
    top: 0;
    left: 0;
  }

  &__icon {
    max-width: 276px;
    max-height: 400px;
    position: relative;
    z-index: -1;

    bottom: -20px;
    right: -30%;
  }

  &__img {
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    position: relative;
    z-index: 3;
    margin: 16px 0px 14px;
    &:nth-child(4) {
      margin: 4px 0px 0px;
    }
  }

  h3 {
    position: relative;
    z-index: 3;
  }
}
