.toggle {
  position: relative;
  width: 240px;
  height: 48px;
  background-color: #e9eef1;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e9eef1;

  .toggle-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #001a34;
    z-index: 1;
    user-select: none;
    padding: 14px 10px;

    &:last-child {
      padding-right: 20px;
    }
  }

  .toggle-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 48px;
    background-color: #fff;
    border-radius: 1000px;
    transition: transform 300ms ease-in-out;
  }

  &:hover {
    .toggle-ball {
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &.active .toggle-ball {
    transform: translateX(100%);
  }
}
