@import '../../../sassStyles/variables.scss';

.toggle {
  position: relative;
  width: 230px;
  height: 48px;
  background-color: $StrGray;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e1e1e1;

  .toggle-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    width: 120px;

    color: #001a34;
    z-index: 1;
    user-select: none;
  }

  .toggle-ball {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50%;
    height: 48px;
    background-color: #fff;
    border-radius: 100px;
    transition: transform 300ms ease-in-out;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    .toggle-ball {
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &.active .toggle-ball {
    transform: translateX(100%);
  }
}
