@import '../../sassStyles/mixins.scss';

.header {
  background-color: #005bff;
  color: white;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  &--rounded {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

    @include xlMaxBreakPoint {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .call-icon {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
    svg {
      height: 28px;
      width: 28px;
    }
  }
}

.logo {
  font-size: 40px;
  font-weight: 900;

  text-decoration: none;
  color: white;

  &--footer {
    color: black;
  }
}

.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 8px 0px 4px;

    @include xlMaxBreakPoint {
      padding: 12px 0px 24px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1472px;
      height: 0px;
      bottom: 0;
      left: -14%;

      border: 1px solid rgba(255, 255, 255, 0.1);

      @include xlMaxBreakPoint {
        display: none;
      }
    }
  }

  &__bottom {
    padding: 28px 0px 38px;

    @include xlMaxBreakPoint {
      display: none;
    }
  }

  &__nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
  }

  &__nav-point {
    margin-right: 36px;
    position: relative;
    height: 100%;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__bottom-menu-item {
    color: white;
    text-decoration: none;
    position: relative;
    min-height: 32px;

    transition: opacity 0.3s ease;

    .arrow-container {
      display: flex;
      align-items: center;

      svg {
        fill: white;
        width: 16px;
        height: 16px;
      }
    }

    .arrow-container i {
      position: absolute;
      left: 90%;
      top: -50%;
      padding: 20px;
      font-size: 10px;
      transition: all 0.4s ease;

      &.rotate {
        top: -60%;
        transform: rotateZ(-180deg);
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &.is-active {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        bottom: -12px;
        left: 0;

        border: 1px solid white;
      }
    }
  }
}
