@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.header {
  background: $BGBlue;
  color: white;
  position: relative;
  z-index: 5;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  transition: border-radius 0.3s ease;

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &--rounded {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

    @include xlMaxBreakPoint {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .call-icon {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
    svg {
      height: 28px;
      width: 28px;
    }
  }
}

.logo {
  font-size: 40px;
  font-weight: 900;

  text-decoration: none;
  color: white;

  &--footer {
    color: black;
  }
}

.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 8px 0px 4px;

    @include xlMaxBreakPoint {
      padding: 12px 0px 24px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1472px;
      height: 0px;
      bottom: 0;
      left: -14%;

      border: 1px solid rgba(255, 255, 255, 0.1);

      @include xlMaxBreakPoint {
        display: none;
      }
    }
  }

  &__bottom {
    padding: 16px 0px 20px;

    @include xlMaxBreakPoint {
      display: none;
    }
  }

  &__left {
    display: flex;
  }

  &__nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;

    margin-left: 40px;

    @include xlMaxBreakPoint {
      display: none;
    }
  }

  &__nav-point {
    margin-right: 36px;
    position: relative;
    height: 100%;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__bottom-menu-item {
    color: white;
    text-decoration: none;
    position: relative;

    transition: opacity 0.3s ease;

    .arrow-container {
      display: flex;
      align-items: center;
      position: absolute;
      left: 120%;
      top: 20%;

      svg {
        fill: white;
        width: 16px;
        height: 16px;
      }
    }

    .arrow-container i {
      font-size: 10px;
      transition: all 0.4s ease;

      &.rotate {
        top: -60%;
        transform: rotateZ(-180deg);
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &.is-active {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        bottom: -20px;
        left: 0;

        border: 1px solid white;
      }
    }
  }
}

.burger-icon {
  display: none;
  @include xlMaxBreakPoint {
    display: block;
  }

  .btn {
    width: 30px;
    cursor: pointer;
  }

  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 2px;
    background: #fff;
    transition: all 0.3s;
    position: relative;
  }

  span + span {
    margin-top: 6px;
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  .not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }

  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 8px;
      transform: rotate(0);
    }
    100% {
      top: 8px;
      transform: rotate(45deg);
    }
  }

  @keyframes top-2 {
    0% {
      top: 8px;
      transform: rotate(45deg);
    }
    50% {
      top: 8px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 8px;
      transform: rotate(0);
    }
    100% {
      bottom: 8px;
      transform: rotate(135deg);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 8px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 8px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

.header__mob {
  position: fixed;
  background-color: $BGBlue;
  z-index: 4;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease, opacity 0.6s ease;

  transform: translateX(-100%);
  opacity: 0;

  &.is-active {
    transform: translateX(0);
    opacity: 100;
  }

  &-list {
    padding: 0;
    margin: 0;
    height: 100%;
    margin-top: -82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    list-style: none;
    position: relative;
    z-index: 4;
    pointer-events: none;
  }

  &-item {
    text-decoration: none;
    color: white;

    font-size: 32px;
    pointer-events: all;
  }
}
