@import '../../sassStyles/mixins.scss';

.call-back {
  margin-top: 56px;

  &__left {
    max-width: 446px;
  }

  &__right {
    img {
      max-width: 464px;
      max-height: 464px;
    }

    @include xxlMaxBreakPoint {
      display: none;
    }
  }

  &--with-img {
    .call-back__wrapper {
      max-width: none;
      width: 100%;
      align-items: center;
      justify-content: space-around;

      padding: 60px 50px 60px 100px;

      @include xxlMaxBreakPoint {
        padding: 60px 16px;
      }

      @include lgMaxBreakPoint {
        padding: 24px 16px;
      }
    }
  }
}

.call-back__wrapper {
  background: #eff3f6;
  border-radius: 40px;
  padding: 60px 60px;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  max-width: 936px;

  h2 {
    text-align: center;
  }

  @include lgMaxBreakPoint {
    border-radius: 20px;
  }
}

.call-back__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 40px;
}
