@import '../../../sassStyles/variables.scss';

.small-cards {
  position: relative;
  padding-top: 56px;

  &__block {
    display: flex;
    margin: 32px 0px 0px;
    gap: 24px;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }
}

.small-card-item {
  background-color: #eff3f6;
  border-radius: 40px;
  padding: 32px;
  color: black;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 124px;

  &__img {
    max-width: 276px;
    max-height: 167px;
    position: absolute;

    bottom: 0;
    right: -26%;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    letter-spacing: 0.4px;
    color: #005bff;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
