@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins.scss';

.small-cards {
  position: relative;
  padding-top: 56px;

  &__block {
    display: flex;
    margin: 32px 0px 0px;
    gap: 24px;
    min-width: 100%;

    @include xxlMaxBreakPoint {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include lgMaxBreakPoint {
      grid-template-columns: 1fr;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }
}

.small-card-item {
  background: $BGGray;
  border-radius: 40px;
  padding: 32px;
  color: black;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

  width: 100%;
  min-height: 144px;

  &--upper {
    img {
      width: 100px;
      position: relative;
      right: 0;
      bottom: 0;
      margin-bottom: 24px;
    }
  }

  &__img {
    height: 100%;
    max-width: 226px;
    max-height: 147px;
    position: absolute;

    bottom: 0;
    right: -26%;

    z-index: -1;

    @include xxlMaxBreakPoint {
      max-width: 206px;
      max-height: 107px;
      right: -8%;
    }

    @include xlMaxBreakPoint {
      right: -20%;
    }

    @include lgMaxBreakPoint {
      right: -10%;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    letter-spacing: 0.4px;
    color: #005bff;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
