@import '../../sassStyles/variables.scss';

.top-menu {
  background-color: $BGBlue;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    min-height: 366px;
  }
}
