@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.top-menu {
  background: $BGBlue;
  border: none;
  appearance: none;
  -webkit-appearance: none;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @include lgMaxBreakPoint {
      flex-direction: column;
    }
  }
}
