@import '../../sassStyles/mixins.scss';

.footer {
  min-height: 100%;
  background-color: #eff3f6;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;

  flex-shrink: 0;
  padding: 60px 0px 64px;
  margin-top: 56px;

  @include lgMaxBreakPoint {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.footer {
  &__list {
    display: flex;
    flex-direction: column;

    margin: 52px 0px 40px;

    &--no-margin {
      margin-top: 0;
    }
  }

  &__list-item {
    color: black;
    text-decoration: none;
    margin-bottom: 12px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__bottom-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include xlMaxBreakPoint {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__social-item {
    margin-left: 8px;

    &:first-child {
      margin-left: 0px;
    }
  }

  &__logo-descriprion {
    font-style: normal;
    font-weight: 375;
    font-size: 16px;
    line-height: 14px;

    letter-spacing: 0.2px;
    color: #5a6c7d;

    opacity: 0.5;
  }
}
