* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.container {
  padding: 0px 24px;

  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.leaflet-container {
  height: 100vh;
}
