@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import './mixins.scss';

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 52px;
  letter-spacing: 1.8px;
  &.title {
    &--white {
      color: white;
    }
  }

  @include xlMaxBreakPoint {
    font-size: 32px;
    line-height: 32px;

    letter-spacing: 1.6px;
  }
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.6px;
  &.title {
    &--white {
      color: white;
    }
  }

  @include xlMaxBreakPoint {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.8px;
  }
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;

  &.title {
    &--white {
      color: white;
    }
  }

  @include xlMaxBreakPoint {
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.6px;
  }
}

input {
  font-style: normal;
  font-weight: 375;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
}
