$screen-sm: 320px;
$screen-md: 414px;
$screen-lg: 480px;
$screen-xl: 768px;
$screen-xxl: 1024px;
$screen-full: 1472px;

$textPrimaryWhite: #fff;
$textPrimaryBlack: #001a34;
$textSecondary: #3d5165;
$textGray: #5a6c7d;

$BGGray: #f1f5ff;
$BGBlue: #182978;

$BGGradient: linear-gradient(#1c3f99, #4785d3);
$BGButton: #4785d3;

$warningColor: #f91155;

$StrGray: #e3e9ec;
$StrSecondGray: #ccd6de;
