$screen-sm: 320px;
$screen-md: 414px;
$screen-lg: 480px;
$screen-xl: 768px;
$screen-xxl: 1024px;
$screen-full: 1472px;

$textPrimaryWhite: #fff;
$textPrimaryBlack: #001a34;
$textSecondary: #3d5165;
$textGray: #5a6c7d;

$LinkTextColor: #686c65;

$BGGray: #eef4ef;
$BGBlue: #99a98f;

$BGGradient: linear-gradient(#b7c8bc, #dedddd);
$BGButton: #7c8a74;
$BGButtonHover: #434b3f;
$BGButtonActive: #3c413a;

$BGWhiteButtonHover: #e0e6e2;
$BGWhiteButtonActive: #d0d8d3;

$ShadowColor: rgb(170, 185, 174);

$warningColor: #f91155;

$StrGray: #e3e9ec;
$StrSecondGray: #ccd6de;
