.menu-list {
  margin-top: 56px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__img {
    max-width: 490px;
    max-height: 460px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__point {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    letter-spacing: 0.6px;
    background: #e9eef1;
    border-radius: 1000px;

    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.4px;
    max-width: 280px;
  }
}
