@import '../../sassStyles//mixins.scss';

.menu-list {
  padding-top: 56px;
  position: relative;
  z-index: 2;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    position: relative;
    z-index: 2;

    &--bg-gray {
      background-color: #eff3f6;
      border-radius: 40px;

      @include xlMaxBreakPoint {
        border-radius: 20px;
      }
    }

    @include xlMaxBreakPoint {
      padding: 16px;
    }
  }
  &__img {
    max-width: 490px;
    max-height: 460px;

    @include xxlMaxBreakPoint {
      max-width: 400px;
      max-height: 380px;
    }

    @include xlMaxBreakPoint {
      display: none;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__point {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    letter-spacing: 0.6px;
    background: #e9eef1;
    border-radius: 1000px;

    min-width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.4px;
    max-width: 320px;
  }

  &__bg {
    position: absolute;
    min-width: 100vw;
    height: 130px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 60px 60px;
    background-color: $BGBlue;

    @include xlMaxBreakPoint {
      height: 150px;
      border-radius: 0px 0px 20px 20px;
    }
  }
}
