.icons-section {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;
    gap: 24px;
    row-gap: 40px;
  }
  &__icon {
    width: 100%;
    max-width: 300px;
    height: 64px;
  }
}
