@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.map {
  margin-top: 56px;
  position: relative;

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    max-width: 376px;
    position: absolute;
    top: 16%;
    left: 4%;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 26, 52, 0.12);
    border-radius: 40px;

    z-index: 3;

    &__desc {
      margin-top: 12px;
    }

    @include xlMaxBreakPoint {
      position: relative;
      top: 0;
      left: 0;
      box-shadow: none;
      max-width: 100%;
      padding: 24px 0px 0px;
    }

    &__column-left {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;

      @include xlMaxBreakPoint {
        margin-right: 32px;
      }
    }

    &__column-right {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__checkboxes {
      @include xlMaxBreakPoint {
        display: flex;
      }

      @include lgMaxBreakPoint {
        flex-direction: column;
      }
    }
  }

  .leaflet-popup-content p {
    margin: 0;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 40px;
    max-height: 600px;
    margin-top: 32px;
    position: relative;
    z-index: 2;

    @include xlMaxBreakPoint {
      max-height: 456px;
    }
  }

  .cluster-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BGBlue;

    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 24px;
    font-weight: 600;
    color: white;
  }

  .checkbox-container {
    margin: 0;
  }
}
