@import '../../sassStyles/mixins.scss';

.big-slider {
  margin-top: 56px;
  position: relative;

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-box-shadow: inset -130px 15px 16px -69px rgb(255, 255, 255);
    -moz-box-shadow: inset -130px 15px 16px -69px rgb(255, 255, 255);
    box-shadow: inset -130px 15px 16px -69px rgb(255, 255, 255);
    top: 0;
    left: 0;
    pointer-events: none;

    @include lgMaxBreakPoint {
      display: none;
    }
  }

  .swiper-container {
    overflow: visible;
  }
}

.big-slide {
  padding: 32px;
  box-shadow: 0px 4px 24px rgba(0, 26, 52, 0.12);
  border-radius: 40px;
  position: relative;
  z-index: 1000;

  max-width: 432px;

  @include lgMaxBreakPoint {
    max-width: 280px;
  }

  &__img-wrapper {
    width: 56px;
    height: 56px;

    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 24px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: -1;
  }
  &__rank {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.4px;

    color: #001a34;

    opacity: 0.3;
    margin-bottom: 8px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;

    &:nth-child(3) {
      margin-bottom: 12px;
    }
  }
}
