@import '../../sassStyles/mixins.scss';
.accordion {
  display: flex;
  flex-wrap: nowrap;

  margin-top: 60px;

  @include xlMaxBreakPoint {
    flex-wrap: wrap;
  }
}

.accordion__left {
  margin-right: 80px;

  @include xlMaxBreakPoint {
    margin-right: 0px;
  }
}

.accordion__item {
  color: #fff;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: black;

  margin-bottom: 12px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.accordion__title {
  margin-right: 20px;
  max-width: 470px;

  text-align: left;
}

.accordion__header i {
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

.accordion__content {
  font-style: normal;
  font-weight: 375;
  font-size: 16px;
  line-height: 20px;
  max-width: 470px;

  letter-spacing: 0.4px;

  color: #001a34;

  opacity: 0.3;
}
