.accordion__item {
  padding: 16px 0px 8px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;

  flex: 1 1 50%;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: black;
}

.accordion__header i {
  transition: 0.3s ease-in-out;
  transform-origin: center;
  margin-bottom: 10px;
}

.accordion__content {
  font-style: normal;
  font-weight: 375;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.4px;

  color: #001a34;

  opacity: 0.5;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .accordion__item {
    width: 80%;
  }
}
