@import '../../sassStyles/variables.scss';

.button {
  width: 100%;
  cursor: pointer;
  border: transparent;
  background-color: $BGButton;
  color: $textPrimaryWhite;
  padding: 14px 8px;
  border-radius: 12px;
  transition: background 0.3s ease;
  text-decoration: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  justify-content: center;

  &:hover {
    background-color: $BGButtonHover;
  }

  &:active {
    background-color: $BGButtonActive;
  }

  &--white {
    background-color: white;
    color: $LinkTextColor;

    &:hover {
      background-color: $BGWhiteButtonHover;
    }

    &:active {
      background-color: $BGWhiteButtonActive;
    }
  }

  &--w-111 {
    max-width: 111px;
  }

  &--w-272 {
    max-width: 272px;
  }

  &--w-full {
    min-width: 100%;
  }
}
