@import '../../sassStyles/variables.scss';

.button {
  cursor: pointer;
  border: transparent;
  background-color: $BGBlue;
  color: $textPrimaryWhite;
  padding: 14px 8px;
  border-radius: 12px;
  transition: background 0.3s ease;

  &:hover {
    background-color: #004ed6;
  }

  &:active {
    background-color: #003ead;
  }

  &--white {
    background-color: white;
    color: #004ed6;

    &:hover {
      background-color: #eff3f6;
    }

    &:active {
      background-color: #e3e9ec;
    }
  }

  &--w-111 {
    min-width: 111px;
  }

  &--w-full {
    min-width: 100%;
  }
}
